.News{
  display:flex;
  padding-bottom:20px;
  border-bottom:1px solid grey;
  margin-bottom:20px;
  
}
.date{
  flex:0 0 20%;
  color:grey;
  font-size: 15px;
  padding-left:30px;
  padding-top:30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.News-content{
  flex:0 0 50%;
  width:100%;

}
.image{
  flex:0 0 20%;
}

.image img {
  width: 80%;
  padding-right:20px;
}

.writer{
  color:grey;
  font: size 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top:60px;
}

.headline{
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top:20px;
}

.content{
  font-size: 20px;
  margin-top: 12px;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;

  
}